* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(35, 35, 36);
}

button, input[type="submit"] {
    background-color: rgb(0, 89, 255);
    padding: .8rem 4rem;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(4, 80, 221);
}

ul {
    list-style: none;
}